<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Apicacion de Chat</title>
    </head>
    <body>
        <h1> El Chat</h1>
        <form action = "/chat">
            <div>
                <label>Ingrese su usuario</label>
                <input type="text" name = "username" >
            </div>
            <div>
                <label>Ingrese la sala</label>
                <input type="text" name = "room" >
            </div>
            <button type="submit" >Submit</button>
        </form>
    </body>

</html>